<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Funktion - Linkedin Loader</title>
  <link rel="stylesheet" href="/stylesheets/loader.css">
</head>

<body>
  <main>
    <div class="loader-container" class="container">
      <span>Linked<mark>in</mark></span>
      <div>
        <div class="loader"></div>
      </div>
    </div>
  </main>

  <script>
    // Show the loader when the page starts loading
    document.querySelector('.loader-container').style.display = 'block';

    // Hide the loader when the page is fully loaded
    window.addEventListener('load', function() {
        document.querySelector('.loader-container').style.display = 'none';
        document.querySelector('.content').style.display = 'block'; // Show the content
    });
</script>
</body>

</html>